.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.headerChild {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headerItem {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.cospace {
  position: absolute;
  top: 1px;
  left: 0px;
  font-size: 24px;
  font-weight: 600;
}
.home {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.3px;
  color: var(--color-white);
}
.features {
  position: absolute;
  top: 0px;
  left: 84px;
  letter-spacing: 0.3px;
}
.services {
  position: absolute;
  top: 0px;
  left: 187px;
  letter-spacing: 0.3px;
}
.about {
  position: absolute;
  top: 0px;
  left: 288px;
  letter-spacing: 0.3px;
}
.location {
  position: absolute;
  top: 0px;
  left: 372px;
  letter-spacing: 0.3px;
}
.menu {
  position: absolute;
  top: 8px;
  left: 597px;
  width: 434px;
  height: 21px;
  color: var(--color-gainsboro);
}
.btnJoinChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-orange);
  width: 129px;
  height: 41px;
}
.bookNow {
  position: absolute;
  top: 10px;
  left: 29px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.btnJoin {
  position: absolute;
  top: 0px;
  left: 1071px;
  width: 129px;
  height: 41px;
}
.navbar {
  position: absolute;
  top: 42px;
  left: 120px;
  width: 100%;
  height: 41px;
}
.comfortableCoworkingSpace1 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 72px;
  letter-spacing: 0.3px;
  line-height: 82px;
  text-transform: capitalize;
  display: inline-block;
  width: 688px;
}
.ourCoworkingSpaces1 {
  position: absolute;
  top: 188px;
  left: 0px;
  letter-spacing: 0.3px;
  line-height: 26px;
  display: inline-block;
  width: 500px;
}
.btnStartedChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-orange);
  width: 240px;
  height: 60px;
}
.bookATour {
  position: absolute;
  top: 17px;
  left: 61px;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 600;
}
.btnStarted {
  position: absolute;
  top: 276px;
  left: 0px;
  width: 240px;
  height: 60px;
}
.aboutUs {
  position: absolute;
  top: 292px;
  left: 282px;
  letter-spacing: 0.3px;
  line-height: 26px;
  font-weight: 600;
}
.content {
  position: absolute;
  top: 304px;
  left: 120px;
  width: 688px;
  height: 336px;
  font-size: var(--font-size-base);
}
.headerInner {
  position: absolute;
  top: 672px;
  left: 377px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 16px;
  background-color: #ffbe16;
  width: 62px;
  height: 62px;
}
.vectorIcon1 {
  position: absolute;
  top: 20.67px;
  left: 17.22px;
  width: 27.56px;
  height: 20.67px;
}
.rectangleParent {
  position: absolute;
  top: 578px;
  left: 837px;
  width: 62px;
  height: 62px;
}
.snackIcon {
  position: absolute;
  top: 448px;
  left: 837px;
  width: 62px;
  height: 62px;
}
.aboutSectionChild {
  position: absolute;
  top: 116px;
  left: 230.36px;
  width: 478.23px;
  height: 601.47px;
  object-fit: cover;
}
.aboutSectionItem {
  position: absolute;
  top: 173.47px;
  left: 120px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  width: 221px;
  height: 281px;
}
.aboutSectionInner {
  position: absolute;
  top: 185.9px;
  left: 132.88px;
  width: 194.97px;
  height: 255.67px;
  object-fit: cover;
  border-radius: var(--br-3xs);
}
.rectangleDiv {
  position: absolute;
  top: 425.47px;
  left: 612px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  width: 195px;
  height: 245px;
}
.groupIcon {
  position: absolute;
  top: 438.81px;
  left: 624.9px;
  width: 169.22px;
  height: 218.88px;
  object-fit: cover;
  border-radius: var(--br-3xs);
}
.bestCreativeWorking1 {
  position: absolute;
  top: 102px;
  left: 837px;
  font-size: 36px;
  letter-spacing: 0.3px;
  line-height: 46px;
  font-weight: 600;
  display: inline-block;
  width: 482px;
}
.loremIpsumPD4 {
  position: absolute;
  top: 256px;
  left: 837px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 482px;
  opacity: 0.7;
}
.loremIpsumPD5 {
  position: absolute;
  top: 372px;
  left: 928px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 391px;
  opacity: 0.7;
}
.loremIpsumDolor6 {
  position: absolute;
  top: 484px;
  left: 928px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 391px;
  opacity: 0.7;
}
.loremIpsumDolor7 {
  position: absolute;
  top: 614px;
  left: 928px;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 391px;
  opacity: 0.7;
}
.open24Hours1 {
  position: absolute;
  top: 336px;
  left: 928px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.3px;
  line-height: 24px;
}
.freeSnack1 {
  position: absolute;
  top: 448px;
  left: 928px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.3px;
  line-height: 24px;
}
.enjoyGameZone1 {
  position: absolute;
  top: 578px;
  left: 928px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.3px;
  line-height: 24px;
}
.clockIcon {
  position: absolute;
  top: 336px;
  left: 837px;
  width: 62px;
  height: 62px;
}
.aboutSection {
  position: relative;
  width: 100%;
  height: 820px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}

.gameIcon {
  position: absolute;
  top: 596px;
  left: 837px;
  width: 62px;
  height: 62px;
}

.loremIpsumDolor4 {
  position: absolute;
  top: 49px;
  left: 2px;
  letter-spacing: 0.5px;
  line-height: 28px;
  display: inline-block;
  width: 482px;
}
.testimonials {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
.label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 187px;
  height: 42px;
  font-size: 28px;
  color: #ffbe16;
}
.desc {
  position: absolute;
  top: 144px;
  left: 836px;
  width: 484px;
  height: 105px;
}
.card1Child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-13xl);
  background-color: var(--color-mintcream);
  width: 380px;
  height: 313px;
}
.loremIpsumDolor5 {
  position: absolute;
  top: 175px;
  left: 32px;
  letter-spacing: 0.5px;
  line-height: 28px;
  display: inline-block;
  width: 316px;
}
.rateIcon {
  position: absolute;
  width: 58.11%;
  top: 136px;
  right: 33.47%;
  left: 8.42%;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
}
.card1Item {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 60px;
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.celineDion {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
}
.cafeOwner {
  position: absolute;
  top: 31px;
  left: 0px;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-slategray);
  display: inline-block;
  width: 219px;
}
.name {
  position: absolute;
  top: 41px;
  left: 116px;
  width: 219px;
  height: 55px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sora);
}
.card1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 313px;
}
.card3Item {
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: var(--br-17xl);
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.card3 {
  position: absolute;
  top: 0px;
  left: 820px;
  width: 380px;
  height: 313px;
}
.card2Child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-13xl);
  background-color: #fff;
  width: 380px;
  height: 313px;
}
.rateIcon2 {
  position: absolute;
  width: 58.11%;
  top: 134px;
  right: 33.47%;
  left: 8.42%;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
}
.card2 {
  position: absolute;
  top: 0px;
  left: 410px;
  width: 380px;
  height: 313px;
}
.cards {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 313px;
}
.testimonials1 {
  position: absolute;
  top: 362px;
  left: 120px;
  width: 1200px;
  height: 313px;
}
.theySatisfiedWith1 {
  position: absolute;
  top: 144px;
  left: 120px;
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: var(--color-darkslategray-100);
  display: inline-block;
  width: 614px;
}
.descParent {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}

.ourLatestBlog1 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 58px;
  font-weight: 600;
  justify-self: center;
  display: inline-block;
}
.whyYourBusiness {
  margin: 0;
}
.graphicDesign {
  position: absolute;
  width: 100%;
  top: calc(50% + 17.5px);
  left: 0%;
  line-height: 33px;
  font-weight: 600;
  display: inline-block;
  height: 77px;
}
.courses {
  position: absolute;
  width: 30.48%;
  top: calc(50% + 32.46px);
  left: 0%;
  letter-spacing: 1px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  mix-blend-mode: normal;
}
.groupChild {
  position: absolute;
  top: -0.5px;
  left: 80.98px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 21.28px;
  height: 1px;
}
.courses1 {
  position: absolute;
  width: 49.92%;
  top: calc(50% + 32.46px);
  left: 50.08%;
  letter-spacing: 0.5px;
  line-height: 12px;
  color: var(--color-gray-100);
  display: inline-block;
  height: 15.39px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.coursesParent {
  position: absolute;
  width: 70.94%;
  top: calc(50% - 94.5px);
  right: 29.06%;
  left: 0%;
  height: 95.7px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen);
}
.graphicDesignParent {
  position: absolute;
  width: 29.16%;
  top: calc(50% + 51px);
  right: 70.84%;
  left: 0%;
  height: 189px;
}
.courses2 {
  position: absolute;
  width: 33.89%;
  top: calc(50% + 32.46px);
  left: 0%;
  letter-spacing: 1px;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  mix-blend-mode: normal;
}
.groupItem {
  position: absolute;
  top: -0.5px;
  left: 6.42px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 20.29px;
  height: 1px;
}
.courses3 {
  position: absolute;
  width: 47.48%;
  top: calc(50% + 32.46px);
  left: 52.52%;
  letter-spacing: 0.5px;
  line-height: 12px;
  color: var(--color-gray-100);
  display: inline-block;
  height: 15.39px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.coursesGroup {
  position: absolute;
  width: 70.94%;
  top: calc(50% - 94.65px);
  right: 29.06%;
  left: 0%;
  height: 95.7px;
}
.graphicDesign1 {
  position: absolute;
  width: 99.92%;
  top: calc(50% + 17.65px);
  left: 0.08%;
  font-size: var(--font-size-4xl);
  line-height: 33px;
  font-weight: 600;
  color: var(--color-gray-100);
  display: inline-block;
  height: 77px;
}
.groupDiv {
  position: absolute;
  width: 29.16%;
  top: calc(50% + 50.7px);
  right: 35.53%;
  left: 35.3%;
  height: 189.3px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen);
}
.frameChild {
  position: relative;
  width: 379.95px;
  height: 308px;
  object-fit: cover;
}
.frameInner {
  position: relative;
  width: 382.96px;
  height: 308px;
  object-fit: cover;
}
.frameDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.coursesContainer {
  position: absolute;
  width: 70.38%;
  top: calc(50% - 94.5px);
  right: 29.62%;
  left: 0%;
  height: 95.7px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen);
}
.graphicDesignGroup {
  position: absolute;
  width: 29.39%;
  top: calc(50% + 51px);
  right: 0%;
  left: 70.61%;
  height: 189px;
}
.frameParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1303px;
  height: 480px;
}
.groupParent {
  position: relative;
  width: 1303px;
  height: 480px;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-100);
}
.rectangleDiv2 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffbe16;
  width: 180px;
  height: 60px;
}
.morePosts {
  position: absolute;
  top: 22px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 16px;
  font-weight: 600;
  width: 180px;
}
.rectangleParent2 {
  position: relative;
  width: 180px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.ourLatestBlogParent {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  gap: 64px;
}
.blogSection {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: left;
  font-size: 48px;
  color: #282a2e;
  font-family: var(--font-poppins);
}

.footerSectionChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000;
  width: 100%;
  height: 385px;
}
.madeWithPassion1 {
  position: absolute;
  top: 331px;
  left: 955px;
  letter-spacing: 0.01em;
  line-height: 125%;
  color: #f3f3f3;
  text-align: right;
}
.cospace {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
}
.logo {
  position: absolute;
  top: 329px;
  left: 133px;
  width: 112px;
  height: 24px;
  font-size: 24px;
  color: var(--color-white);
}
.privacyPolicy {
  position: absolute;
  top: 43px;
  left: 0px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.company1 {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 1px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-white);
}
.company {
  position: absolute;
  top: 60px;
  left: 1159px;
  width: 144px;
  height: 141px;
}
.contactUs {
  position: absolute;
  top: 115px;
  left: 0px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.support {
  position: absolute;
  top: 60px;
  left: 904px;
  width: 126px;
  height: 141px;
}
.youtube {
  position: absolute;
  top: 151px;
  left: 0px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.instagram {
  position: absolute;
  top: 79px;
  left: 0px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.community {
  position: absolute;
  top: 60px;
  left: 655px;
  width: 111px;
  height: 177px;
}
.resources {
  position: absolute;
  top: 60px;
  left: 408px;
  width: 102px;
  height: 141px;
}
.feature {
  position: absolute;
  top: 60px;
  left: 121px;
  width: 166px;
  height: 141px;
}
.footerSectionItem {
  position: absolute;
  top: 296.5px;
  left: 119.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 1201px;
  height: 1px;
}
.footerSection {
  position: relative;
  width: 100%;
  height: 385px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-silver);
  font-family: var(--font-poppins);
}
